{% extends 'base.html' %}
{% block title %}
    Titus Books
{% endblock title %}
{% block content %}
    <div class="container">

        <h1 class="my-4">TitusWeb Books
            <small>Search</small>
        </h1>

        {% csrf_token%}
        <br>
        <form id="books-form">
        <input id="search" type="text" placeholder="Harry potter">
        <input id="button" type="submit" value="search">
        <br>
        </form>

        <br>

        <div class="row" id="books-result"></div>

    </div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
        $(document).ready(() => {
          $.ajax({
                    method: 'GET',
                    url: 'getData?key=avengers',
                    success: function (result) {
                        let booksView = $('#books-result');
                        booksView.empty();
                        const resultList = result.items;
                        for (let i = 0; i < resultList.length; i++) {
                            let book = resultList[i].volumeInfo;
                            booksView.append(
                                "<div class='col-lg-3 col-sm-4 mb-4'>" +
                                "<div class='card h-75'>" +
                                "<img class='card-img-top h-75' src=" + book.imageLinks.thumbnail + ">" +
                                "<div class='card-body'>" +
                                "<h4 class='card-title'>" + book.title + "</h4>" +
                                "<p class='card-text'>Year Released: " + book.publisher + "</p>" +
                                "<p class='card-text'>Categories: " + book.categories + "</p>" +
                                "<p class='card-text'>Authors: " + book.authors + "</p>" +
                                "</div>" +
                                "</div>" +
                                "</div>"
                            );
                        }
                    }
                });

            $('#button').click(function() {
                event.preventDefault();
                const key = $('#search').val();
                $.ajax({
                    method: 'GET',
                    url: 'getData?key=' + key,
                    success: function (result) {
                        let booksView = $('#books-result');
                        booksView.empty();
                        const resultList = result.items;
                        for (let i = 0; i < resultList.length; i++) {
                            let book = resultList[i].volumeInfo;
                            booksView.append(
                                "<div class='col-lg-3 col-sm-4 mb-4'>" +
                                "<div class='card h-75'>" +
                                "<img class='card-img-top h-75' src=" + book.imageLinks.thumbnail + ">" +
                                "<div class='card-body'>" +
                                "<h4 class='card-title'>" + book.title + "</h4>" +
                                "<p class='card-text'>Year Released: " + book.publisher + "</p>" +
                                "<p class='card-text'>Categories: " + book.categories + "</p>" +
                                "<p class='card-text'>Authors: " + book.authors + "</p>" +
                                "</div>" +
                                "</div>" +
                                "</div>"
                            );
                        }
                    }
                });
            })
          });
    </script>
{% endblock script %}